<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1">
            <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
                <div class="form-group">    
                    <div class="col-xs-8">
                        <label for="name">Name</label>
                    
                        <input
                            type="text"
                            id="name"
                            formControlName="name"
                            class="form-control"
                            required>
                        <span class="help-block"
                            *ngIf="!recipeForm.get('name').valid && recipeForm.get('name').touched">
                            Please enter a valid name</span>
                    </div>
                </div>
                <div class="form-group">
                        <div class="col-xs-8">
                                <label for="description">description</label>
                                <textarea
                                      type="text"
                                      id="description"
                                      formControlName="description"
                                      class="form-control"
                                      ></textarea>
                        </div>
                    
                </div>
                <div class="form-group">
                        <div class="col-xs-8">
                                <label for="imagePath">Image</label>
                                <input
                                      type="text"
                                      id="imagePath"
                                      formControlName="imagePath"
                                      class="form-control"
                                      #imagePath>
                                <br>
                                <img [src]="imagePath.value" class="img-responsive">
                        </div>
                  
                </div>
                <div class="col-xs-8" formArrayName="ingredients">
                        <div class="row" 
                        *ngFor="let ingredientCtl of recipeForm.get('ingredients').controls; let i=index"
                        [formGroupName]="i"
                        style="margin-top: 10px;">

                       <div class="col-xs-6">
                           <input type="text"
                                  class= "form-control"
                                  formControlName="name">
                       </div>

                       <div class="col-xs-2">
                           <input type="text"
                                  class= "form-control"
                                  formControlName="amount">
                       </div>
                       <div class="col-xs-2">
                           <button 
                                  class="btn btn-danger"
                                  (click)="onDeleteIngredient(i)">X</button>
                       </div>
                   </div>
                   <br>
                   <button class="btn btn-success"
                           (click)="onAddIngredient()"
                           type= "button">Add Ingredient</button>
                    <button class="btn btn-danger"
                            (click)="onDeleteAll()"
                            type="button">Delete All</button>
                   <hr>
                </div>
                <hr>
               
                <hr>
                <div class="col-xs-12">
                    <button 
                        class="btn btn-success" 
                        type="submit"
                        *ngIf="!editMode"
                        [disabled]="!recipeForm.valid"
                        >Add</button>
                    <button 
                        class="btn btn-success" 
                        type="submit"
                        *ngIf="editMode"
                        [disabled]="!recipeForm.valid"
                        >Edit</button>
                    <button 
                        class="btn btn-danger" 
                        type="button"
                        (click)="onDeleteRecipe()"
                        >Delete</button>
                    <button 
                        class="btn btn-primary" 
                        type="button"
                       >Clear</button>
                </div>
            </form>
        </div>
    </div>
</div>